<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interactive Chess Board</title>
  <link rel="stylesheet" href="~/css/ChessMainBoard.css">
  <script src="~/lib/signalr/signalr.js" defer></script>
  <script src="~/js/chess.js" defer></script>
</head>
<body>
  <h1>Interactive Chess Board</h1>
  <p>Click on a piece to select it, then click on a destination square to move it.</p>
  
<div class="board-container">
  <div id="gamestatus-container">
    <input id="createSessionButton" type="button" value="Create Session"/>
    <div>
      <input id="joinSessionButton" type="button" value="Join Session"/>
      <input id="joinSessionInput" type="text" pattern="[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}" required/>
    </div>
  </div>
  <div class="chessboard" id="chessboard">
  </div>
</div>
  
  <div class="move-info" id="moveInfo">
    Move will be displayed here in format: [{FROMX,FROMY},{TOX,TOY}]
  </div>
</body>
</html>