<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Chess Board</title>
    <link rel="stylesheet" href="~/css/ChessMainBoard.css">
    <script src="~/lib/signalr/signalr.js" defer></script>
    <script src="~/js/chess.js" defer></script>
</head>
<body>

<div class="board-container">
    <div id="gamestatus-container">
        <div class="session-control-container">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <button class="btn btn-outline-secondary" id="createSessionButton">Create Session</button>
                    <button class="btn btn-outline-secondary" id="joinSessionButton">Join Session</button>
                </div>
                <input class="form-control" id="joinSessionInput" type="text" pattern="[a-z0-9]{8}(-[a-z0-9]{4}){3}-[a-z0-9]{12}" aria-label="" placeholder="" aria-describedby="basic-addon1"/>

            </div>
        </div>
    </div>
    <div class="chessboard" id="chessboard">
    </div>
<div class="move-info" id="moveInfo">
    Move will be displayed here in format: [{FROMX,FROMY},{TOX,TOY}]
</div>
<p>Informacje czasem sie wyświetlają czasem nie 👍👍</p>
</div>

</body>
</html>